/* .banner-section{
    height: 500px;
    background-color: aqua;
} */



.carousel-item img{
    height: 80vh;
    object-fit: cover;
}

@media only screen and (max-width:500px){
    .carousel-item img{
        height: 80vh;
        object-fit: cover;
        /* overflow-x: hidden; */
     }
    
} 

.card img{
    height: 100%;
    object-fit: cover;
}
    